<div class="bg-transparent">
    <div class="text-center mt-1">
        <img class="shadow rounded-circle image-perfil" src='../assets/images/arthur-dani.jpg'>
    </div>
    <hr>

    <h1 class="text-center">Escolha o seu presente</h1>
    <!-- TODO:criar ordenador por valor ou nome -->
    <!-- <div class="row">
        <div class="col-11">
            <h1 class="text-center">Escolha o seu presente</h1>
        </div>
        <div class="col-1">
           
            <i class="fa fa-sort-amount-asc"></i>
        </div>
    </div> -->
    <br />
    <div class="row">
        <div *ngFor="let presente of listaDePresentes; let i = index" class="item-center">
            <div class="col-4">
                <div class="card text-center card-item text-white bg-dark mb-3 shadow-lg rounded">
                    <img class="card-img-top card-images" src='../assets/images/{{presente.nomeImagem}}'>
                    <div class="card-body">
                        <div class="card-header font-weight-bold font-size-20">{{ presente.nome }}</div>
                        <div class="card-text card-body-text"> {{ presente.descricao }} </div>
                        <div class="card-text margin-top-1em font-weight-bold font-size-20" style="color: yellow;">
                            R$ {{presente.valor | currency:' ':'symbol':'1.2-2':'pt'}} </div>

                        <button type="button" class="btn btn-primary item-center margin-top-1em"
                            (click)="abrirModalCadastro(presente)">Presentear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>