.card-item {
    width: 18rem;
    margin-top: 1em;
}

.item-center {
    margin: 0 auto;
    display: block;
}

.margin-top-1em {
    margin-top: 1em;
}

.font-size-20 {
    font-size: 20px;;
}

.image-perfil {
    width: 17.5rem;
    height: 14rem;
}

.card-images{
    height: 18rem;
}

.card-body-text{
    height: 3rem !important;
}