<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <h5>
      Casamento Arthur e Dani <i class="fa fa-heart"></i>
  </h5>
    <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto ml-75rem"> 
      <li class="nav-item">
        <a class="nav-link" href="/presentes">Lista de Presentes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/sobre">Sobre</a>
      </li>
    </ul>
  </div>
</nav>
