<div class="container">
    <div class="modal-header">
        <h4 class="modal-title text-center">Contato</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="cadastroFormulario" novalidate>
            <div class="form-group">
                <div class="form-group">
                    <label for="nome">Nome completo</label>
                    <input [ngClass]="{'alert-danger': isInvalid('nome') }" type="text" class="form-control"
                        placeholder="Seu nome" formControlName="nome" required>
                </div>

                <div class="form-group">
                    <label for="email">Endereço de email</label>
                    <input [ngClass]="{'alert-danger': isInvalid('email') }" type="email" class="form-control"
                        placeholder="Seu email" formControlName="email" required>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="telefone">Telefone</label>
                            <input [ngClass]="{'alert-danger': isInvalid('telefone') }" type="tel" class="form-control"
                                placeholder="Seu telefone" appMascaraTelefone formControlName="telefone" required>
                        </div>
                        <div class="col">
                            <label for="presente">Presente escolhido</label>
                            <input type="text" class="form-control h6" name="presente"
                                formControlName="resumoDescricaoPresente">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mensagem">Mensagem</label>
                    <small id="mensagemHelp" class="form-text text-muted">Deixa um conselho pra gente, vai! 😀</small>
                    <textarea type="email" class="form-control" name="mensagem" placeholder="Sua mensagem"
                        rows="3"></textarea>
                </div>

                <hr>

                <div class="form-group float-right">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary" [disabled]="cadastroFormulario.invalid"
                                (click)="salvarContato()">Solicitar</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-danger"
                                (click)="activeModal.close('Close click')">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>