<div class="container mt-2">
    <div class="card">
        <div class="card-body">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../assets/images/sobre/1-dani.jpg" alt="Daniele" class="carousel-image">
                    </div>
                    <div class="carousel-caption text-shadow">
                        <h3>Essa é a Daniele.</h3>
                        <p>Mas a chame de Dani porque ela não gosta. rsrs</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../assets/images/sobre/2-arthur.jpg" alt="Arthur" class="carousel-image">
                    </div>
                    <div class="carousel-caption text-shadow">
                        <h3>Esse sou eu, Arthur.</h3>
                        <p>Se tirar todos os defeitos até que é gente fina.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../assets/images/sobre/3-nos.jpg" alt="Chapada dos Veadeiros" class="carousel-image">
                    </div>
                    <div class="carousel-caption text-shadow">
                        <h3>Esses somos nós.</h3>
                        <p>Gostamos muito de viajar para conhecer lugares novos.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../assets/images/sobre/4-nos.jpg" alt="Chapada dos Veadeiros" class="carousel-image">
                    </div>
                    <div class="carousel-caption text-shadow">
                        <h3>Meio marrentos eu sei.</h3>
                        <p>Mas tem muito amor envolvido nessa parada.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../assets/images/sobre/5-epoca.jpg" alt="Santa Cataria Fest" class="carousel-image">
                    </div>
                    <div class="carousel-caption text-shadow">
                        <h3>Amor antigo.</h3>
                        <p>Desde 1930, ou talvez até antes.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../assets/images/sobre/6-epoca.jpg" alt="Santa Cataria Fest 2" class="carousel-image">
                    </div>
                    <div class="carousel-caption text-shadow">
                        <h3>Estamos muito felizes.</h3>
                        <p>Agradecemos pelo seu presente.</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

        <div class="card-body">
            <hr>
            <h2 class="card-title text-center">Uma breve explicação</h2>
            <p>
                O objetivo deste site é possibilitar que os nossos amigos possam nos presentear, de uma forma em que
                poderemos aprovitar melhor, pois o dinheiro do objeto ecolhido irá diretamente para nossa conta.
            </p>
            <p>
                Ou seja, após você fazer a solicitação do seu presente iremos gerar um boleto do nuBank, por isso fica
                de
                olho no seu e-mail porque o boleto vencerá em 3 dias após sua emissão.
            </p>
            <footer class="text-muted">Se tiver alguma dúvida é só nos avisar.</footer>
        </div>
    </div>
</div>
<br /><br /><br />